.main {
  height: 100%;
  width: 100%;
  background-color: rgb(131, 135, 224);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.board {
  background-color: rgb(216, 189, 250);
  border: 2px solid rgb(252, 252, 252);
  border-radius: 2px;
  margin: 10px;
}
.nextBlockBox {
  background-color: rgba(255, 255, 255, 0.596);
  border-radius: 2px;
}

.texts {
  background-color: rgb(218, 221, 252);
  border-radius: 3px;
  border:2px white solid;
  width: 100px;
  height: 20px;

  display: flex;
}
